
body {
  min-height: 1045px;
  background-color: #db0827;
  font-family: sans-serif;
}

.register-lapa {
  padding: 40px 20px;
  text-align: center;
  margin-top: 60px;

}

h1 {
  color: white;
  margin-bottom: 65px;
  font-size: 48px;
}

.kaste {
  background-color: #ECDCBF;
  max-width: 1160px;
  max-height: 700px;
  padding: 30px;
  margin: auto;
}

.input-group {
  margin-top: 60px;
  margin-bottom: 0px;
  margin-right: 65px;
  margin-left: 65px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #A31D1D;
  font-size: 15px;
  font-weight: 700;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid black;
}

button {
  background-color: #db0827;
  color: white;
  border: solid 1px black;
  padding: 12px 60px;
  font-weight: 700;
  margin-top: 90px;
  margin-bottom: 50px
  
}

footer {
  background-color: #ECDCBF;
  width: 100%;
  height: 100px;
  margin-top: 80px;
}










header {
  background-color: #ECDCBF;
  width: 100%;
  height: 100px;
  margin-bottom: 80px;
}

.navigacija {
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: center;
}

nav {
  margin-left: 10px;
}

nav a {
  color: #A31D1D;
  margin: 0 10px;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}

h1 {
  color: white;
  margin-bottom: 65px;
  font-size: 48px;
  text-align: center;
}

main-lapa {
  padding: 40px 20px;
  margin-top: 60px;
}

sakums-kaste-labi {
  background-color: #ECDCBF;
  max-width: 1160px;
  max-height: 700px;
  padding: 30px;
  margin: auto;
}

